# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# android build artifacts
android/app/build/
android/build/
android/.gradle/
android/gradle.properties.local
android/local.properties

# ios build artifacts
ios/build/
ios/Pods/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*
.cursorignore
# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
.DS_Store
*.pem

# local env files
.env*.local
.env
.cursorignore

# typescript
*.tsbuildinfo
